.~lock*.ods#
.*.un~
.*.swp
*.swp
*.pyc
.ipynb_checkpoints/

# ignore virtualenv folders and files
bin/
include/
lib/
local/
pip-selfcheck.json
# virtualenv folders in Linux Mint Rosa
share/

# ignore security-sensitive files
bot.ini
