{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>HoaxDetector</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/> 
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"> 
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}"> 
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="{% static 'images/icons/map-marker.png' %}" data-scrollwhell="0" data-draggable="1"></div>

		<div class="wrap-contact100">
			<form class="contact100-form validate-form" role="form" action = "/main/analisa" method="post">
				{% csrf_token %} 
				<span class="contact100-form-title">
					What does hoax/fact looks like?
				</span>

				<div class="wrap-input100 validate-input" data-validate = "Please enter the article you want to check">
					<div class="form-group">
                <label>Corpus</label>
                <select name="label" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option selected="selected">Choose One</option>
                  <option value="Fakta">Fakta</option>
                  <option value="Hoax">Hoax</option>
                  <option value="All">All</option>
                </select> <br>

                <label>Pre-process</label>
                <select name='process' class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option selected="selected">Choose One</option>
                  <option value="stop">Stopwords Removal</option>
                  <option value="stem">Stemming</option>
                  <option value="stopstem">Stopwords Removal + Stemming</option>
                  </select> <br>

                <label>Method</label>
                <select name='method' class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option selected="selected">Choose One</option>
                  <option value='wordcloud'>Word Cloud</option>
                  <option value="docvec">Doc2Vec</option>
                  <option value="sna">Social Network Analysis</option>
                </select>
                <br><p>*note: Untuk melakukan Analisa Doc2Vec, mohon pilih Corpus dengan label "All"</p>
              </div>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						Lets Find Out!
					</button>
				</div>
			</form>

			<div class="contact100-more">
				By <a class="contact100-more-highlight" href="/home">HoaxDetector</a>
			</div>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
<!--===============================================================================================-->

</body>
</html>
